@tailwind base;
@tailwind components;
@tailwind utilities;


body  , .ChatChannel{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

::-webkit-scrollbar{
 width: 5px;
}
::-webkit-scrollbar-thumb{
 background-color: #333333;
 border-radius: 5px;
}
::-webkit-scrollbar-track{
 background-color: #120F13 ; 
}

@layer {
.App {
 @apply inline-block md:flex items-start text-MenuColor transform w-[100vw] ; 
}
.SearchSection{
 @apply h-[100vh] relative md:w-[25%] w-[75%] bg-UserComponentBg z-10 ; 
}
.Nav-Section {
 @apply w-full h-[8%] relative shadow-MainShadowColor bg-NavSectionBg flex items-center justify-between p-[10px] ; 
}
.title{
 @apply font-semibold  !important; 
}
.BtnHolder{
 @apply flex items-center gap-3 w-fit ; 
}
.AddBtn{
 @apply h-fit w-[40px] cursor-pointer bg-UserComponentBg p-1 rounded flex items-center justify-center ; 
}
.Line{
 @apply h-4 w-[1px] bg-MenuColor ; 
}
.Child{
 @apply rotate-90 -translate-x-[1px] !important; 
}
.DeleteBtn{
 @apply absolute -right-[15%] sm:-right-[12.5%] md:hidden hover:bg-red-600 transform !important; 
}
.LineDelete{
 @apply rotate-45 translate-x-[.5px]  w-[1.15px]  !important; 
}
.LineDelete2{
 @apply -rotate-45 -translate-x-[.5px]  w-[1.15px] !important ; 
}
.MainSearch{
 @apply w-full flex flex-col items-start gap-4 px-[15px] py-[30px] ; 
}
.SearchForm {
 @apply flex items-center relative w-full ; 
}
.SearchIcon{
 @apply absolute left-[6%] ; 
}
.SearchInput{
 @apply text-MenuColor indent-10 font-medium placeholder:text-ParagraphText bg-HoverStateBg outline-none py-3 px-5 w-full rounded-md !important ; 
}
.MainChannel{
 @apply p-[10px] !important ; 
}
.Channel{
 @apply flex items-center gap-3 cursor-pointer; 
}
.ChannelName{
 @apply font-semibold uppercase text-ChannelsNames hover:underline  hover:text-MenuColor !important ; 
}
.Shape{
 @apply h-fit w-fit bg-MessagingBackground rounded-md px-2 py-1 ; 
}
.UserSection{
 @apply fixed bottom-0 w-full h-[10%] ; 
}
.UserInfo{
 @apply flex items-center gap-2 ; 
}
.UserProfileImage{
 @apply rounded-md ; 
}
.UserName{
 @apply text-TitlesText font-medium !important; 
}
.UserDropDown{
 @apply bg-transparent ; 
}
.rotation{
 @apply -rotate-45 -translate-x-[1.8px] h-2 w-[2px] !important; 
}
.rotation2 {
 @apply rotate-45 h-2 translate-x-[1.8px] w-[2px] !important ; 
}


.ChatChannel{
 @apply h-[100vh] absolute md:relative top-0 -left-[0%] w-full  md:w-[75%]  bg-MessagingBackground !important;
}
.ChannelSection{
 @apply bg-MessagingBackground shadow-MainShadowColor relative border-b-[3px] border-BoxColor w-full justify-start !important; 
}
.toggle{
 @apply flex sm:hidden h-[90%] items-center justify-evenly flex-col w-[5%] cursor-pointer bg-UserComponentBg rounded ; 
}
.ChildLine{
 @apply h-[1px] w-3 bg-MenuColor m-0 p-0 !important; 
}
.titleMoves{
 @apply relative left-[3.5%] !important; 
}
.MainChatSection{
 @apply px-[4.5%] py-[20px] w-full; 
}
.SendInput{
 @apply w-full !important ; 
}
.SendBtn{
 @apply flex items-center justify-center h-fit w-fit bg-MainSendBtn rounded-md p-2 relative cursor-pointer -left-[8.5%] md:-left-[4.5%] ; 
}
.EmojiBtn{
 @apply flex items-center justify-center h-fit w-fit bg-MainSendBtn rounded-md p-2 relative cursor-pointer left-[8.5%] md:left-[4.5%] ;
}
.DropEmoji{
 @apply flex items-center overflow-y-scroll py-[1%] px-[1.5%] flex-wrap  gap-2 h-[25vh] w-[69vw] sm:h-[40vh] left-[8.5%] sm:left-[7.35%] md:left-[28%] fixed bottom-[13.5%] md:bottom-[12.5%]  bg-UserComponentBg rounded-md ; 
}
.SelectorHolder{
 @apply flex w-full items-center gap-3 px-[1%] py-2 hover:bg-gray-500 rounded-md cursor-pointer ; 
}
.Selector{
 @apply cursor-pointer h-10 w-10 flex items-center justify-center  ; 
}
.ElementSlug{
 @apply text-TitlesText font-semibold ; 
}
.DropUploading{
 @apply flex items-center py-[1%] px-[1.5%] flex-wrap  gap-2 h-[25vh] w-[69vw] md:w-[25vw] sm:h-[20vh] left-[8.5%] sm:left-[7.35%] md:left-[28%] fixed bottom-[13.5%] md:bottom-[12.5%]  bg-UserComponentBg rounded-md 
}
.FileHolder{
 @apply flex items-center justify-center h-fit w-fit py-[1%] px-[1.5%] rounded-md hover:bg-gray-500 ; 
}
.ChangeFormat{
 @apply fixed md:absolute md:top-[90%] bottom-[5%] left-0 !important ; 
}
}